:root {
    --maxred: #D62828;
    --jet: #2D2D2D;
    --powder: #F7F7F2;
    --grey: #7C898B;
    --vivid: #A3333D;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    height: 30vh;
    position: relative;
    background-image: url('./assets/images/backdrop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    border-radius: 0px 10px;
}

body {
    background-color: var(--jet) !important;
    color: var(--powder) !important;
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 100px
}

.dynapuff {
    font-family: 'DynaPuff', cursive;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.title {
    font-size: 4vw;
}

footer {
    height: 80px;
    border-radius: 10px 0px;
    background-color: var(--grey) !important;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.navbar-container {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;

}

.navbar {
    padding: 10px 1.2vw;
    font-size: 1.8vw;
    color: var(--powder) !important;
    border-radius: 50px;
    font-weight: bold;
}

.navbar-container a:hover {
    color:  #c2c2bc !important;
    transition: .3s ease !important;
}

.active-nav {
    background-color: var(--grey);
}

.margin-top {
    margin-top: 50px !important;
}

.about-me-img {
    width: 250px !important;
}

.aboutme-text {
    font-size: 1.3rem;
    line-height: 45px;
}

.project-img {
    height: 400px;
    width: 550px;
    border-radius: 25px;
    opacity: 1;
    transition: .5s ease;
}

.img-wrap {
    position: relative;
}

.img-text a {
    text-decoration: none !important;
    color:  var(--powder);
    filter: brightness(70%);
    font-weight: bold;
    font-size: large;
}

.img-text img {
    width: 90px;
    filter: brightness(250%);
}

.desc-container {
    position: absolute;
    bottom: 60px;
    right: 60px;
}

.desc-text {
    font-size: 40px !important;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visbility .2s;
}

.project-name {
    font-size: 35px !important; 
}

.img-text {
    position: absolute;
    top: 40px;
    left: 30px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visbility .2s;
}

.img-wrap:hover .img-text, .img-wrap:hover .desc-text{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.img-wrap:hover .project-img {
    opacity: .1;
    background-color: #F7F7F2;
    border: 5px solid #A3333D;
    transition: .5s ease;
}

.img-text a:hover {
    filter: brightness(200%);
    transition: .3s ease !important; 
}

.img-text img:hover {
    filter: brightness(0%);
}

@media screen and (max-width: 980px) {
    header {
        height: 225px;
    }

    .navbar {
        font-size: 2.5vw;
    }

    .navbar-container {
        justify-content: space-around !important;
    }

    .about-me-img {
        width: 150px !important;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 200px;
    }

    .title {
        font-size: 6vw;
    }

    .navbar {
        font-size: 3vw;
    }

    .project-img {
        width: 500px;
        height: 400px;
    }
}



