:root {
    --maxred: #D62828;
    --jet: #2D2D2D;
    --powder: #F7F7F2;
    --grey: #7C898B;
    --vivid: #A3333D;
}

header {
    background-color: var(--vivid) !important;
    font-family: 'DynaPuff', cursive;
}

body {
    background-color: var(--jet) !important;
    color: var(--powder) !important;
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
    width: 100%;
}

footer {
    background-color: var(--grey) !important;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.navbar {
    font-size: 1.2rem !important;
    color: var(--powder) !important;
    font-weight: bold;
    /* margin: auto; */
}

.active-nav {
    /* border-top: 5px solid var(--jet) !important;
    border-left: 5px solid !important;
    border-right: 5px solid !important; */
    background-color: var(--grey);
}

.margin-top {
    margin-top: 50px !important;
}

.image {
    width: 70px;
}

.aboutme-text {
    font-size: 1.3rem;
}

.project-img {
    height: 300px;
    width: 400px;
    opacity: 1;
    transition: .5s ease;
}

.img-wrap {
    position: relative;
}

.img-text a {
    text-decoration: none !important;
    color: var(--powder);
    font-weight: bold;
    font-size: large;
}

.desc-container {
    padding-top: 200px;
}

.img-text {
    position: absolute;
    padding-left: 20px;
    padding-top: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visbility .2s;
}

.img-wrap:hover .img-text {
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.img-wrap:hover .project-img {
    opacity: .1;
    background-color: #F7F7F2;
    border: 5px solid #A3333D;
    transition: .5s ease;
}





