:root {
    --maxred: #D62828;
    --jet: #2D2D2D;
    --powder: #F7F7F2;
    --grey: #7C898B;
    --vivid: #A3333D;
}

header {
    background-color: var(--vivid) !important;
}

body {
    background-color: var(--jet) !important;
    color: var(--powder) !important;
}

footer {
    background-color: var(--grey) !important;
    position:absolute;
    left:0;
    bottom:0;
    right:0;;
}

